@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: "Lateef", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.certificate-container {
    border: #c99f22 solid 3px ;
    border-radius: 1rem;
    width: 70%; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    position: relative;
    text-align: center;
    color: #333;
}
.logo-left {
    position: absolute;
    top: 0;
    left: 0;
}
.logo-right {
    position: absolute;
    top: 0;
    right: 0;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header {
    font-size: 32px;
    margin-bottom: 20px;
    color:#f1da36  ; /* Change text color if needed */
    border: #c99f22 solid 1PX ;
    background-color: #67b48f;
    
}
img{
    position: inherit;
}
.date {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #000; /* Change text color if needed */
}
span{
    color:#154D47 ;
}



/* hearts vector */
.title::before ,
.title::after {
  /* color: #154D47; */
   color: #9c5597;

  content: "\2665 ";
  font-family: "Font Awesome 6 Free";
  font-size: 7rem;
  /* left: 20px; */
  opacity: 0.2;
  position: absolute;
  top: 20px;
  z-index: 0;
}
.title::before {
  /* color: #9c5597; */
  color: #154d47;
  /* left: -30px; */
  top: -10px;
}
.mini-title::before ,
.mini-title::after {
  /* color: #154D47; */
   color: #9c5597;

  content: "\2665 ";
  font-family: "Font Awesome 6 Free";
  font-size: 7rem;
  /* right: 90px; */
  opacity: 0.2;
  position: absolute;
  top: -90px;
  z-index: 0;
}
.mini-title::before {
  /* color: #9c5597; */
  color: #154d47;
  /* left: 790px; */
  top: 90px;
}
/* end vectors */